<div style="display:block;margin-left:4px;background:white">
    <div class="bc-h6 bc-detail-title">Contatti:</div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">Telefono:</div>
            <div class="bc-body">{{contacts?(contacts.fixedPhone || '------------'):'------------'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">Cellulare:</div>
            <div class="bc-body">{{contacts?(contacts.mobilePhone || '------------'):'------------'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">Ruolo:</div>
            <div class="bc-body">{{contacts?(contacts.role || '------------'):'------------'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">Mail:</div>
            <div class="bc-body">{{contacts?(contacts.emailAddress || '------------'):'------------'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">PEC:</div>
            <div class="bc-body">{{contacts?(contacts.mailPec || '------------'):'------------'}}</div>
        </div>
        <div *ngIf="contacts!=undefined&&contacts.webAddress!=undefined" style="align-items:center;flex:1;display:flex;flex-direction:row">
            <div class="bc-body-strong" style="margin-right:4px">WebSite:</div>
        </div>
    </div>
    <bc-divider></bc-divider>
    <div class="bc-h6 bc-detail-title">Aperture:</div>
    <div style="display: flex;flex-direction:row">
        <div style="flex:1">
            <div class="bc-body-strong">Inizio</div>
            <div class="bc-body" *ngFor="let item of openings">{{item.startDate | date:"dd/MM/yy" }}</div>
        </div>
        <div style="flex:1">
            <div class="bc-body-strong">Fine</div>
            <div class="bc-body" *ngFor="let item of openings">{{item.endDate | date:"dd/MM/yy" }}</div>
        </div>
        <div style="flex:1">
            <div class="bc-body-strong">Tipo</div>
            <div class="bc-body" *ngFor="let item of openings">{{item.type}}</div>
        </div>
    </div>
</div>