@import '../../style/typography';
@import '../../style/theme';

@mixin bc-economy-detail ($theme){
    $accent: map-get($theme, accent);
   
  .bc-tab-economy{
        &:hover{
            color:bc-color($accent);
            border:1px solid;
            border-color: $black-12alpha;
            border-radius:4px;
        }
        
    }

    .bc-tab-active{
        color:bc-color($accent);
        border:1px solid;
        border-radius:4px;
        border-color: $black-12alpha;
    }

    .disabled{
        pointer-events: none;
        opacity: 0.5;
        background: #CCC;
    }

    .bc-title-economy{
        color:bc-color($accent);
    }
}

@include bc-typography();