@import "../style/palette.scss";
@import "../style/typography.scss";
@import "../style/constants.scss";

$font-family:$bc-font-family;

@mixin bc-marker-style($theme){
    $accent: map-get($theme, accent);

    .bc-marker{
        position:relative;
    
        &:hover{
            color:bc-color($accent);
        }
    
        &:hover &-content{
            color:black;
        }
    
        &-content{
            font-family:$font-family;
            position:absolute;
            z-index:-1;
            background:white;
            top:18%;
            text-align:center;
            left:20%;
            width:60%;
            height:35%;
        } 

        &-tiny{
            color:blue;
        }
    }

}

@mixin bc-tooltip-style($theme){
    .bc-tooltip{
        width:250px;
        height:150px;
        background:white;
        border:0.1px;
        border-color:black;
        border-style:solid;
        font-family:$font-family;
        font-size:20px;
    
        &-head{
            width:100%;
            height:50px;
            background:black;
            font-family:inherit;
            font-size:inherit;
            text-align:center;
            color:white;
            position:relative;
        }
    
        &-line{
            width:100%;
            height:100px;
            top:50px;
    
            &-content{
                text-align:center;
                position:relative;
                top:20%;
            }
        }
    }
}

@mixin bc-map-theme ($theme){
    @include bc-marker-style($theme);
    @include bc-tooltip-style($theme);
}