@import '../style/vendor-prefixes';

.bc-content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: block;

  &>.bc-content-layout {
    height: 100%;
    @include flex-box;
    @include flex-flow;

    & > .bc-content-header {
      display:block;
      flex: 0;
    }

    & > .bc-content-section {
      display:block;
      flex: 1;
      overflow-x:hidden;
      overflow-y: auto;
    }

    & > .bc-content-footer {
      display:block;
      flex: 0;
    }
  }
  
}
