<form style="position:relative" [formGroup]="contactForm">
    <div style="display:block;margin-left:4px;background:white">
        <div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
        <div class="bc-h6 bc-contact-title">Contatti del rifugio</div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: +39 0522652347" formControlName="fixedPhone" title="Telefono" validate="stringValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: +39 336 8956789" formControlName="mobilePhone" title="Cellulare" validator="telephoneValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-select-input defaultContent="Selezionare ruolo" enumName="Owner_Type" [displayError]="displayError" formControlName="role" title="Ruolo"></bc-select-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: info@rifugimonterosa.it" formControlName="emailAddress" title="Mail" validator="mailValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: Sì/no/ www.caivarallo.it/prenotazione_rifugi" formControlName="prenotation_link" title="Link prenotazione" validator="urlValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: www.caivarallo.it" formControlName="webAddress" title="Sito web" validator="urlValidator" [displayError]="displayError"></bc-text-input>
            </div>
        </div>
        <br>
        <bc-divider></bc-divider>
        <div class="bc-h6 bc-contact-title">Aperture</div>
        <div *ngFor="let open of contactForm.controls['openings'].controls;let i = index" formArrayName="openings">
            <div [formGroupName]="i" style="display: flex;flex-direction:row;align-items:center">
                <div class="bc-revision-contact">
                    <bc-text-input placeholder="Formato: gg/mm" formControlName="startDate" title="Inizio" [options]="{'removeYear':'true'}" validator="validateDate" [displayError]="displayError"></bc-text-input>
                </div>
                <div class="bc-revision-contact">
                    <bc-text-input placeholder="Formato: gg/mm" formControlName="endDate" title="Fine" [options]="{'removeYear':'true'}" validator="validateDate" [displayError]="displayError"></bc-text-input>
                </div>
                <div class="bc-revision-contact">
                    <bc-text-input placeholder="Es: Apertura estiva, natalizia ecc." formControlName="type" title="Tipo" required="true" [displayError]="displayError"></bc-text-input>
                </div>
                <bc-icon (click)="removeOpening(i)" class="bc-add-tag" name="times" size=s></bc-icon>
            </div>
        </div>
        <br>
    </div>
</form>
<div (click)="toggleOpenings()" class="bc-body bc-add-tag" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi apertura
</div>
<div *ngIf="!isHiddenOpenings()">
    <form [formGroup]="newOpeningForm">
        <div style="display:flex;flex-direction:row;align-items:center">    
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Formato: gg/mm" formControlName="newOpeningStartDate" [options]="{'removeYear':'true'}" validator="validateDate" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Formato: gg/mm" formControlName="newOpeningEndDate" [options]="{'removeYear':'true'}" validator="validateDate" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input placeholder="Es: Apertura estiva, natalizia ecc." formControlName="newOpeningType" [displayError]="invalid"></bc-text-input>
            </div>
            <bc-icon (click)="addNewOpening()" class="bc-add-tag" name="check" size=s></bc-icon>
        </div>
    </form>
</div>