<form style="position:relative" [formGroup]="contactForm">
    <div style="display:block;margin-left:4px;background:white">
        <div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
        <div class="bc-h6 bc-contact-title">Contatti</div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-contact">
                <bc-text-input formControlName="fixedPhone" title="Telefono" validator="telephoneValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input formControlName="mobilePhone" title="Cellulare" validator="telephoneValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-select-input enumName="Owner_Type" [displayError]="displayError" formControlName="role" title="Ruolo"></bc-select-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-contact">
                <bc-text-input formControlName="emailAddress" title="Mail" validator="mailValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input formControlName="mailPec" title="PEC" validator="mailValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-contact">
                <bc-text-input formControlName="webAddress" title="Sito Web" validator="urlValidator" [displayError]="displayError"></bc-text-input>
            </div>
        </div>
        <br>
        <bc-divider></bc-divider>
        <div class="bc-h6 bc-contact-title">Aperture</div>
        <div *ngFor="let open of contactForm.controls['openings'].controls;let i = index" formArrayName="openings">
            <div [formGroupName]="i" style="display: flex;flex-direction:row;align-items:center">
                <div class="bc-revision-contact">
                    <bc-text-input formControlName="startDate" title="Inizio" [displayError]="displayError"></bc-text-input>
                </div>
                <div class="bc-revision-contact">
                    <bc-text-input formControlName="endDate" title="Fine" [displayError]="displayError"></bc-text-input>
                </div>
                <div class="bc-revision-contact">
                    <bc-text-input formControlName="type" title="Tipo" required="true" [displayError]="displayError"></bc-text-input>
                </div>
                <bc-icon (click)="removeOpening(i)" class="bc-add-tag" name="times" size=s></bc-icon>
            </div>
        </div>
        <br>
    </div>
</form>
<div (click)="toggleOpenings()" class="bc-body bc-add-tag" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Apertura
</div>
<div *ngIf="!isHiddenOpenings()">
    <form [formGroup]="newOpeningForm">
        <div style="display:flex;flex-direction:row;align-items:center">    
            <div style="width:20%;margin-right:1%">
                <bc-text-input formControlName="newOpeningStartDate" [displayError]="displayError"></bc-text-input>
            </div>
            <div style="width:20%;margin-right:1%">
                <bc-text-input formControlName="newOpeningEndDate" [displayError]="displayError"></bc-text-input>
            </div>
            <div style="width:20%;margin-right:1%">
                <bc-text-input formControlName="newOpeningType" [displayError]="displayError"></bc-text-input>
            </div>
            <bc-icon (click)="addNewOpening()" class="bc-add-tag" name="check" size=s></bc-icon>
        </div>
    </form>
</div>