@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-contact-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-add-tag:hover{
  color:map-get($bc-teal,400);
  cursor: pointer;
}

.bc-revision-contact{
  width:20%;
  margin-right:1%
}

input, select{
    font-family: inherit !important;
}

.ng-invalid:not(form):not(div)  {
  border-left: 5px solid #a94442; /* red */
}

.bc-add-tag{
  font-weight: bold;
  margin-left:1%
}