<div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
<div class="bc-h6 bc-doc-title">Documenti</div>
<div *ngFor="let file of docs" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeDoc(file._id)" class="bc-file" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-file" (click)="toggleFile(0)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Documento
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(0)">
    <form [formGroup]="newDocForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Docs_Type')" formControlName="file"></bc-file-input>
        </div>
    </form> 
    <!--[disabled]="getKeys('Docs_Type').length==0" -->
    <div bc-button style="margin-left:1%"  (click)="addDoc()">Invia</div>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
<bc-divider></bc-divider>
<div class="bc-h6 bc-doc-title">Mappe e piante</div>
<div *ngFor="let file of maps" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeMap(file._id)" class="bc-file" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-file" (click)="toggleFile(1)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Mappa
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(1)">
    <form [formGroup]="newMapForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Maps_Type')" formControlName="file"></bc-file-input>
        </div>
    </form>
    <!-- [disabled]="getKeys('Maps_Type').length==0"  -->
    <div bc-button style="margin-left:1%" (click)="addMap()">Invia</div>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
<bc-divider></bc-divider>
<div class="bc-h6 bc-doc-title">Documentazione amministrativa</div>
<div class="bc-body-strong" style="font-style:italic">I file vanno rinominati nel seguente modo: tipo, fornitore, numero, data</div>
<form [formGroup]="invoicesForm">
    <div formArrayName="files">
        <div *ngFor="let file of invoicesForm.controls.files.controls;let i = index">
            <div [formGroupName]="i">
                <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
                    <bc-icon *ngIf="!invoicesForm.controls.files.at(i).disabled" (click)="removeInvoice(i,file.value._id)" class="bc-file" name="times" size=s></bc-icon>
                    <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
                        <div class="bc-body-strong">Nome:</div>
                        <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.value.name}}</div>
                    </div>
                    <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
                        <div class="bc-body-strong">Dimensione:</div>
                        <div style="margin-left:1%" class="bc-body"> {{file.value.size | formatsize}}</div>
                    </div>
                </div>
                <div style="flex:1;display: flex;flex-direction:row;align-items:flex-end;white-space:nowrap">
                    <bc-text-input required="true" title="Imponibile" formControlName="value" validator="numberValidator" [displayError]="displayError"></bc-text-input>    
                    <bc-text-input required="true" title="IVA" formControlName="invoice_tax" validator="numberValidator" [displayError]="displayError"></bc-text-input>   
                    <bc-select-input required="true" [enumValues]="getEnumValues()" title="Anno" formControlName="invoice_year" [displayError]="displayError"></bc-select-input>   
                </div>
                <div style="flex:1;display: flex;flex-direction:row;align-items:flex-end;white-space:nowrap">
                    <bc-select-input required="true" title="Tipo di fattura" defaultContent="Es: Attività" enumName="Invoice_Type" formControlName="invoice_type" [displayError]="displayError"></bc-select-input>                            
                    <bc-select-input [required]="checkRequired(i)" title="Tipo di contributo" defaultContent="Es: FondoStabile" enumName="Contribution_Type" formControlName="contribution_type" [displayError]="displayError"></bc-select-input>
                </div>
            </div>  
        </div>
    </div>
</form>
<div class="bc-body bc-file" [disabled]="disableInvoiceGlobal" (click)="toggleFile(2)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Fattura
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(2)">
    <form [formGroup]="newInvoiceForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Invoices_Type')" [validator]="invoiceFormatRegExp" formControlName="file"></bc-file-input>
        </div>
    </form>
    <!-- [disabled]="getKeys('Invoices_Type').length==0" -->
    <div bc-button style="margin-left:1%" (click)="addInvoice()">Invia</div>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
