@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-add-file:hover{
  color:map-get($bc-teal,400);
  cursor: pointer;
}

.bc-doc-title{
    color:map-get($bc-teal,400);
}