@import '../../style/typography';
@import '../../style/theme';

@mixin bc-document-revision($theme){
  $accent: map-get($theme, accent);
  
  &-doc{
    &-file {
      &:hover {
        color:bc-color($accent);
        cursor: pointer;
      }
    }
    
    &-title{
      color:bc-color($accent);
    }
  }
  
  .disabled{
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
  }

}
