<div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
<div class="bc-h6 bc-doc-title">Documenti</div>
<div *ngFor="let file of docs" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeDoc(file._id)" class="bc-file" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-file" (click)="toggleFile(0)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Documento
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(0)">
    <form [formGroup]="newDocForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Docs_Type')" formControlName="file"></bc-file-input>
        </div>
    </form>
    <bc-button style="margin-left:1%" [disabled]="getKeys('Docs_Type').length==0" [button]="sendDocButton"></bc-button>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
<bc-divider></bc-divider>
<div class="bc-h6 bc-doc-title">Mappe e piante</div>
<div *ngFor="let file of maps" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeMap(file._id)" class="bc-file" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-file" (click)="toggleFile(1)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Mappa
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(1)">
    <form [formGroup]="newMapForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Maps_Type')" formControlName="file"></bc-file-input>
        </div>
    </form>
    <bc-button style="margin-left:1%" [disabled]="getKeys('Maps_Type').length==0" [button]="sendMapButton"></bc-button>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
<bc-divider></bc-divider>
<div class="bc-h6 bc-doc-title">Fatture</div>
<div class="bc-body-strong" style="font-style:italic">I file vanno rinominati nel seguente modo: fornitore, numero, data</div>
<div *ngFor="let file of invoices" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeInvoice(file._id)" class="bc-file" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-file" (click)="toggleFile(2)" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Fattura
</div>
<div style="margin-left:1%;display:flex;flex-direction:row;align-items:center" *ngIf="!isHiddenFile(2)">
    <form [formGroup]="newInvoiceForm">
        <div style="display:inline-block">
            <bc-file-input [contentType]="getKeys('Invoices_Type')" [validator]="invoceFormatRegExp" formControlName="file"></bc-file-input>
        </div>
    </form>
    <bc-button style="margin-left:1%" [disabled]="getKeys('Invoices_Type').length==0" [button]="sendInvoiceButton"></bc-button>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>
