@import '../../style/typography';
@import '../../style/theme';

@mixin bc-document-detail ($theme){
  $accent: map-get($theme, accent);
   
  .bc-file{
    &:hover{
      color:bc-color($accent);
      cursor: pointer;
    }
  }
  
  .bc-doc-title{
      color:bc-color($accent);
  }
  
  .disabled{
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
  }

}

@include bc-typography();