@import '../../style/typography';
@import '../../style/theme';

@mixin bc-checkbox-input-style ($theme){
  $warn: map-get($theme, warn);

  .invalid{
    border-left: 5px solid bc-color($warn);
  }

  .bc-checkbox-input{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space:nowrap;
    margin:1% 2%;
    align-items: center;

    &-title{
      white-space: nowrap;
      margin-right:2px;
    };

    &[title-bold]{
      .bc-checkbox-input-title{
        font-weight: bold;
      }
    };
  }

  input{
    &[disabled]{
      input{
        pointer-events: none;
        cursor: default;
      }
    }
  }

  .bc-check-content{
      width:20px;
      height: 20px;
      margin-left:1%;
  }
}

@include bc-typography();