<div class="bc-body" style="white-space: nowrap">{{title}}
    <div *ngIf="required" class="bc-h6" style="display:inline;color:red;margin-right:1%">*</div>
</div>
<input [bc-enable-error]="invalid" type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
    class="form-control" (keyup)="onKey($event)" [value]="value">
<div [hidden]="!(displayError&&enableBlock)" class="alert alert-danger">{{errorMessage||'Invalid!'}}</div>

