@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.invalid{
  border-left: 5px solid #a94442;
}

.bc-title-text-input{
  white-space: nowrap;
  margin-right:1%;
}

input{
  &[disabled] {
    pointer-events: none;
    cursor: default;
  }
}

.bc-text-input{
  position: relative;
  align-items: center;
  width:100%;
  &[one-line]{
    display: flex;
    flex-direction: row;
  };
  &[title-bold]{
    .bc-title-text-input{
      font-weight: bold;
    }
  };
}