@import '../../style/typography';
@import '../../style/theme';

@mixin bc-text-input-theme ($theme){
  $warn: map-get($theme, warn);

  .invalid{
    border-left: 5px solid bc-color($warn);
  }

  input{
    &[disabled] {
      pointer-events: none;
      cursor: default;
    }
  }
  
  .bc-text-input{
    position: relative;
    align-items: center;
    width:100%;

    &-title{
      white-space: nowrap;
      margin-right:2px;
    };

    &-required{
      display:inline;
      color:red;
      margin-right:2px;
    };

    &-content{
      align-items: center;
    }

    &[one-line]{
      .bc-text-input-content{
        display: flex;
        flex-direction: row;
      }
    };
    &[title-bold]{
      .bc-text-input-title{
        font-weight: bold;
      }
    };
  }
}

@include bc-typography();