<div class="bc-mask-container">
    <div class="bc-mask-line">
        <div class="bc-h6" style="display:flex;flex-direction:row;align-items:center;white-space:nowrap;width:100%">
            <bc-icon (click)="return()" class="bc-mask-icon" style="display: inline;margin-left:1%" name="arrow-left" size=s></bc-icon>
            <bc-icon *ngIf="checkWinPlatform()" (click)="toggleMenu()" class="bc-mask-icon" name="bars" size=s></bc-icon>
            <div style="display: flex;flex-direction: row;align-items: center;position:relative;margin-right:1%;width:30%">
                <div style="white-space: nowrap;margin-right:1%">{{shelter?.name || 'Nome Rifugio'}},</div>
                <div style="white-space: nowrap;margin-right:1%">{{shelter?.alias||'Nome comune'}}</div>
            </div>
            <div style="display: inline;margin-left:auto;margin-right:1%">
                <bc-icon *ngIf="revisionPermission!=null" (click)="revision()" class="bc-mask-icon" name="edit" size=s></bc-icon>
            </div>
        </div>
    </div>
    <div class="bc-mask-line" style="margin-left:10px">
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title bc-body-strong">ID:</div>
            <div class="bc-mask-content bc-body">{{shelter?.idCai || '---'}}</div>
        </div>
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Tipo:</div>
            <div class="bc-mask-content bc-body">{{shelter?.type || '----'}}</div>
        </div>
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Sezione CAI:</div>
            <div class="bc-mask-content bc-body">{{shelter?.branch || '----'}}</div>
        </div>

        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Proprietà:</div>
            <div class="bc-mask-content bc-body">{{shelter?.owner || '----'}}</div>
        </div>
    </div>
    <div class="bc-mask-line" style="margin-left:15px">
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Categoria:</div>
            <div class="bc-mask-content bc-body">{{shelter?.category || '----'}}</div>
        </div>
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Categoria per la regione:</div>
            <div class="bc-mask-content bc-body">{{shelter?.regional_type||'----'}}</div>
        </div>
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Inserito il:</div>
            <div class="bc-mask-content bc-body">{{shelter?(shelter.insertDate?(shelter.insertDate | date:"dd/MM/yy"):'----'): '----'}}</div>
        </div>
        <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
            <div class="bc-mask-title  bc-body-strong">Aggiornato il:</div>
            <div class="bc-mask-content bc-body">{{shelter?(shelter.updateDate?(shelter.updateDate | date:"dd/MM/yy"):'----'): '----'}}</div>
        </div>
    </div>
    <bc-divider style="margin:0"></bc-divider>
</div>