@import '../style/vendor-prefixes';
@import '../style/typography';

@import './listItem/list-item.component';
@import './listHeader/list-header.directive';

@import '../icon/icon.component';

// Normal list variables
$bc-list-padding-start: 16px;
$bc-list-padding-end: 16px;

$bc-list-no-border: 0px;


@mixin bc-list-theme($theme) {
  .bc-list {
    // bc-list-header theme
    @include bc-list-header-theme($theme);
    // bc-list-item theme
    @include bc-list-item-theme($theme);
  }
}

.bc-list {
  display: block;
  list-style-type: none;

  // bc-list-header style
  @include bc-list-header-base($bc-list-padding-start, $bc-list-padding-end);

  // bc-list-item style
  @include bc-list-item-base(
    $bc-icon-size,
    $bc-list-padding-start, $bc-list-padding-end
  );

  &[no-border], &[data-no-border] {
    @include bc-list-item-no-border();
  }

  &[dense], &[data-dense] {
    @include bc-list-item-base(
      $bc-dense-icon-size,
      $bc-list-padding-start, $bc-list-padding-end,
      dense
    );
  }
}

@include bc-typography;