<form style="position:relative" [formGroup]="useForm">
    <div class="bc-use-title">
        Soci CAI
    </div>
    <div style="margin-left:5%">
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 9" validator="numberValidator" formControlName="transit_count_associate" title="Passaggio e pasti" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 9" validator="numberValidator" formControlName="stay_count_associate" title="Pernottamenti" [displayError]="displayError"></bc-text-input>   
        </div>
    </div>
    <div class="bc-use-title">
        Soci reciprocità
    </div>
    <div style="margin-left:5%">
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 6" validator="numberValidator" formControlName="transit_count_reciprocity" title="Passaggio e pasti" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 6" validator="numberValidator" formControlName="stay_count_reciprocity" title="Pernottamenti" [displayError]="displayError"></bc-text-input>   
        </div>
    </div>
    <div class="bc-use-title">
        Non soci CAI
    </div>
    <div style="margin-left:5%">
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 4" validator="numberValidator" formControlName="transit_count" title="Passaggio e pasti" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-use-input">     
            <bc-text-input placeholder="Es: 4" validator="numberValidator" formControlName="stay_count" title="Pernottamenti" [displayError]="displayError"></bc-text-input>   
        </div>
    </div>
</form>