<form style="position:relative" [formGroup]="useForm">
    <div class="bc-h6 bc-revision-fruition-title">
        Soci CAI
    </div>
    <div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 9" validator="numberValidator" formControlName="transit_count_associate"
                title="Passaggi e pasti" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 9" validator="numberValidator" formControlName="stay_count_associate"
                title="Pernottamenti" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <bc-divider></bc-divider>
    <div class="bc-h6 bc-revision-fruition-title">
        Soci reciprocità
    </div>
    <div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 6" validator="numberValidator" formControlName="transit_count_reciprocity"
                title="Passaggi e pasti" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 6" validator="numberValidator" formControlName="stay_count_reciprocity"
                title="Pernottamenti" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <bc-divider></bc-divider>
    <div class="bc-h6 bc-revision-fruition-title">
        Non soci CAI
    </div>
    <div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 4" validator="numberValidator" formControlName="transit_count"
                title="Passaggi e pasti" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-fruition-input">
            <bc-text-input enableBlock="true" errorMessage="Inserire sono numeri." placeholder="Es: 4" validator="numberValidator" formControlName="stay_count"
                title="Pernottamenti" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
</form>