@import '../../style/typography';
@import '../../style/theme';
@mixin bc-fruition-revision($theme) {
    $accent: map-get($theme, accent);
    &-fruition {
        &-title {
            margin-bottom: 4px;
            color: bc-color($accent);
        }
        &-input {
            position: relative;
            width: auto;
            max-width: 30%;
        }
    }
}