<div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
<div class="bc-h6 bc-catastal-title">Dati catastali e certificazioni</div>
<form style="position:relative" [formGroup]="catastalForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="buildYear" title="Anno di costruzione" validator="numberValidator" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="rebuildYear" title="Anno di ristrutturazione" validator="numberValidator" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="code" title="Codice catastale" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="class" title="Classe catastale" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="mainBody" title="Consistenza corpo principale" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="secondaryBody" title="Consistenza corpi secondari" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Typo_consistency" formControlName="typologicalCoherence" [displayError]="displayError" title="Coerenza tipologica"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Fire_Regulation_Type" formControlName="fireRegulation" title="Regolarità antincendio"></bc-select-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <bc-checkbox-input formControlName="ISO14001" title="ISO14001"></bc-checkbox-input>
        <bc-checkbox-input formControlName="buildingRegulation" title="Regolarità edilizia"></bc-checkbox-input>
        <bc-checkbox-input formControlName="matericalCoherence" title="Coerenza materica"></bc-checkbox-input>
        <bc-checkbox-input formControlName="cityPlanRegulation" title="Regolarità urbanistica"></bc-checkbox-input>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Energia e riscaldamento</div>
<form style="position:relative" [formGroup]="energyForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Energy_Class_Type" formControlName="class" title="Classe energetica" [displayError]="displayError"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="energy" title="Quantità (KW)" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <bc-checkbox-input formControlName="greenCertification" title="Green"></bc-checkbox-input>
        <bc-checkbox-input formControlName="powerGenerator" title="Generatore diesel"></bc-checkbox-input>
        <bc-checkbox-input formControlName="photovoltaic" title="Fotovoltaico"></bc-checkbox-input>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Heating_Type" formControlName="heating_type" [displayError]="displayError" title="Tipo di riscaldamento"></bc-select-input>
        </div>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Scarico e acqua</div>
<form style="position:relative" [formGroup]="drainForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Drain_Type" formControlName="type" title="Tipo di scarico" [displayError]="displayError"></bc-select-input>
        </div>
        <div style="display: flex;flex-direction:row">
            <bc-checkbox-input formControlName="regulation" title="Scarico a norma"></bc-checkbox-input>
            <bc-checkbox-input formControlName="oilSeparator" title="Disoleatore"></bc-checkbox-input>
            <bc-checkbox-input formControlName="recycling" title="Riciclo"></bc-checkbox-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Water_Type" formControlName="water_type" [displayError]="displayError" title="Acqua"></bc-select-input>
        </div>
        <bc-checkbox-input formControlName="water_certification" title="Captazione certificata"></bc-checkbox-input>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Water_Availability" formControlName="water_availability" [displayError]="displayError" title="Disponibilità acqua"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Seasons" formControlName="droughts" [displayError]="displayError" title="Periodi di siccità"></bc-select-input>
        </div>
    </div>
</form>