<div [hidden]="!displayError" class="alert alert-danger">Error Occurred!</div>
<div class="bc-h6 bc-catastal-title">Dati Catastali</div>
<form style="position:relative" [formGroup]="catastalForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="buildYear" title="Anno di Costruzione" validator="numberValidator" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="rebuildYear" title="Anno di Ristrutturazione" validator="numberValidator" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="code" title="Codice Catastale" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="class" title="Classe Catastale" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="mainBody" title="Consistenza Corpo Principale" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="secondaryBody" title="Consistenza Corpi Secondari" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Typo_consistency" formControlName="typologicalCoherence" title="Consistenza Tipologica"></bc-select-input>
        </div>
    </div>
    <br>
    <div style="display: flex;flex-direction:row">
        <div class="bc-catastal-check">
            <div class="bc-body" style="display:inline;white-space: nowrap">ISO14001</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="ISO14001">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Edilizia</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="buildingRegulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Coerenza Materica</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="matericalCoherence">
                <br>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Urbana</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="cityPlanRegulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Antincendio</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="fireRegulation">
                <br>
            </div>
        </div>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Energia</div>
<form style="position:relative" [formGroup]="energyForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="class" title="Classe Energetica" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="energy" title="Quantità" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Source_Type" formControlName="sourceType" title="Tipo fonte energetica"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="sourceName" title="Nome Fonte Energetica" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Total Green</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="greenCertification">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Generatore</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="powerGenerator">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Fotovoltaico</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="photovoltaic">
                <br>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Heating_Type" formControlName="heating_type" title="Tipo riscaldamento"></bc-select-input>
        </div>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Rifiuti</div>
<form style="position:relative" [formGroup]="drainForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-text-input formControlName="type" title="Tipo" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Scarico a Norma</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="regulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Separatore</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="oilSeparator">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Riciclaggio</div>
            <div class="bc-catastal-check-content">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control bc-catastal-check-content"  formControlName="recycling">
                <br>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Water_Type" formControlName="water_type" title="Acqua"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Water_Availability" formControlName="water_availability" title="Disponibilità acqua"></bc-select-input>
        </div>
        <div class="bc-revision-catastal">
            <bc-select-input enumName="Seasons" formControlName="droughts" title="Periodi di siccità"></bc-select-input>
        </div>
    </div>
</form>