<div class="bc-h6 bc-catastal-title">Catastali</div>
<form style="position:relative" [formGroup]="catastalForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Anno di Costruzione</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="buildYear">
            <div [hidden]="catastalForm.controls['buildYear'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Anno di Ristrutturazione</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="rebuildYear">
            <div [hidden]="catastalForm.controls['rebuildYear'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Codice Catastale</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="code">
            <div [hidden]="catastalForm.controls['code'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Classe Catastale</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="class">
            <div [hidden]="catastalForm.controls['class'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Consistenza Corpo Principale</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="mainBody">
            <div [hidden]="catastalForm.controls['mainBody'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Consistenza Corpi Secondari</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="secondaryBody">
            <div [hidden]="catastalForm.controls['secondaryBody'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Consistenza Tipologica</div>
            <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control" formControlName="typologicalCoherence">
                <option [selected]="catastalForm.controls['typologicalCoherence'].value==undefined" value="null">-- Consistenza Tipologica --</option>
                <option *ngFor="let name of getEnumTypoNames()" [selected]="checkTypoEnum(name)" [value]="name">{{name}}</option>
            </select>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">ISO14001</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="ISO14001">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Edilizia</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="buildingRegulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Coerenza Materica</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="matericalCoherence">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Urbana</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="cityPlanRegulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Regolarità Antincendio</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="fireRegulation">
                <br>
            </div>
        </div>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Energia</div>
<form style="position:relative" [formGroup]="energyForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Classe Energetica</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="class">
            <div [hidden]="energyForm.controls['class'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Quantità</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="energy">
            <div [hidden]="energyForm.controls['energy'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Tipo Fonte Energetica</div>
            <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control" formControlName="sourceType">
                <option [selected]="energyForm.controls['sourceType'].value==undefined" value="null">-- Tipo Fonte --</option>
                <option *ngFor="let name of getEnumSourceTypeNames()" [selected]="checkSourceTypeEnum(name)" [value]="name">{{name}}</option>
            </select>
        </div>
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Nome Fonte Energetica</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="sourceName">
            <div [hidden]="energyForm.controls['sourceName'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Total Green</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="greenCertification">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Generatore</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="powerGenerator">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Fotovoltaico</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="photovoltaic">
                <br>
            </div>
        </div>
    </div>
</form>
<bc-divider></bc-divider>
<div class="bc-h6 bc-catastal-title">Rifiuti</div>
<form style="position:relative" [formGroup]="drainForm">
    <div style="display: flex;flex-direction:row">
        <div class="bc-revision-catastal">
            <div class="bc-body" style="white-space: nowrap">Tipo</div>
            <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                class="form-control"  formControlName="type">
            <div [hidden]="drainForm.controls['type'].valid" class="alert alert-danger">Invalid</div>
            <br>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Scarico a Norma</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="regulation">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Separatore</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="oilSeparator">
                <br>
            </div>
        </div>
        <div class="bc-catastal-check">
            <div class="bc-body" style="white-space: nowrap">Riciclaggio</div>
            <div style="width:50%;margin-left:25%">
                <input type="checkbox" style="margin-top: 0; text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="recycling">
                <br>
            </div>
        </div>
    </div>
</form>