@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-select-input{
  position: relative;
  align-items: center;
  width:100%;
  &[one-line]{
    display: flex;
    flex-direction: row;
  }
}
