<div class="bc-body" style="display:block;margin-left:4px;background:white">
    <div class="bc-h6 bc-detail-title">Posizione:</div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Località:</div> {{data?(data.location?(data.location.locality||'----'):'----'):'----'}}</div>
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Gruppo Montuoso:</div> {{data?(data.location?(data.location.massif||'----'):'----'):'----'}}</div>        
    </div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Comune:</div> {{data?(data.location?(data.location.municipality||'----'):'----'):'----'}}</div>
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Valle:</div> {{data?(data.location?(data.location.valley||'----'):'----'):'----'}}</div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Provincia:</div> {{data?(data.location?(data.location.province||'----'):'----'):'----'}}</div>
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Quota:</div> {{data?(data.location?(data.location.altitude||'----'):'----'):'----'}}</div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Regione:</div> {{data?(data.location?(data.location.region||'----'):'----'):'----'}}</div>
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">UTM WGS84:</div> ({{data?(data.location?(data.location.latitude?(data.location.latitude | number : '1.2-3'): '----' ):'----'):'----'}},{{data?(data.location?(data.location.longitude?(data.location.longitude | number : '1.2-3'): '----' ):'----'):'----'}})</div>
    </div>
    <div style="display:flex;flex-direction:row;margin-bottom:4px">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Ente Sovracomunale di Competenza:</div> {{data?(data.location?(data.location.authorityJurisdiction||'----'):'----'):'----'}}</div>
    </div>
    <bc-divider style="padding-bottom:4px;margin-top:8px"></bc-divider>
    <div class="bc-detail-title bc-h6">Informazioni Aggiuntive:</div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Zona Tutelata:</div> {{getTag("protected_area")}}</div>
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Comprensorio Sciistico:</div> {{getTag("ski_area")}}</div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div style="display:flex;align-items:center;flex:1;white-space:nowrap;padding-right:4px"><div style="margin-right:4px" class="bc-body-strong">Commissione Regionale:</div>  {{data?(data.location.ownerRegion || '----'):'----'}}</div>
    </div>
    <div style="width: 100%;height:256px;position:absolute">
        <bc-map [initialCenter]="center" [openTooltipCenter]=true [initialZoom]="getZoom()" [enableExpansion]=false></bc-map>
    </div>
    
</div>