<div style="line-height:0;display:table;position:absolute;width:100%;height:calc(100% - 128px)">
    <bc-mask style="height:150px;display:table-row" [shelter]="shelter"></bc-mask>
    <div style="display:table-row">
        <div style="display:flex;flex-direction:row;position:relative;height:100%">
            <div style="position:relative;z-index:2000">
                <bc-menu [menuElements]="appMenuElements"></bc-menu>
            </div>
        <div style="display:flex;flex-direction:row;position:relative;height:100%;width:100%">
            <bc-details style="width:100%;position:relative;height:100%;overflow:hidden;overflow-y:scroll"></bc-details>
        </div>
    </div>
</div>
