@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-service-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-add-tag{
  margin-left:1%;
}

.bc-add-tag:hover{
  color:map-get($bc-teal,400);
  cursor: pointer;
}

.bc-revision-services{
  width:30%;
  margin-right:2%;
  margin-left:2%;
}

.bc-revision-services-tags{
  width:20%;
  margin-right:2%;
  margin-left:4%
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(div)  {
  border-left: 5px solid #a94442; /* red */
}