@import '../../style/typography';
@import '../../style/theme';
@mixin bc-services-revision ($theme) {
  $accent: map-get($theme, accent);
  &-service {
    &-title {
      margin-bottom: 4px;
      color: bc-color($accent);
    }
    &-add-tag {
      font-weight: bold;
      margin-left: 1%;
      &:hover {
        color: bc-color($accent);
        cursor: pointer;
      }
    }
    &-tags {
      width: 30%;
      margin-right: 2%;
      margin-left: 4%
    }
  }
}