<div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
<bc-divider></bc-divider>
<div class="bc-h6 bc-doc-title">Immagini</div>
<div *ngFor="let file of data" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <bc-icon (click)="removeFile(file._id)" class="bc-img" name="times" size=s></bc-icon>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-img" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>
<div class="bc-body bc-img" (click)="toggle()" style="display:inline;white-space:nowrap;flex:1">
    <bc-icon class="bc-add-tag" name="plus" size=s></bc-icon>
    Aggiungi Immagine
</div>
<div *ngIf="!isHidden()" style="display:flex;flex-direction:row;align-items:center">
    <form [formGroup]="newDocForm">
        <bc-file-input [contentType]="getContentType()" formControlName="file"></bc-file-input>
    </form>
    <bc-button style="margin-left:1%" [button]="sendButton"></bc-button>
    <div *ngIf="isUploading()" style="margin-left:1%">Caricamento...</div>
</div>  