@import '../../style/typography';
@import '../../style/theme';

@mixin bc-images-detail ($theme){
  $accent: map-get($theme, accent);

  .bc-img{
    &:hover{
      color:bc-color($accent);
      cursor: pointer;
    }
  }
  
  .bc-img-title{
    color:bc-color($accent);
  }
 
}

@include bc-typography();