@import '../../style/typography';
@import '../../style/theme';

@mixin bc-images-revision($theme){
  $accent: map-get($theme, accent);

  &-img{
    &:hover{
      color:bc-color($accent);
      cursor: pointer;
    }

    &-title{
      color:bc-color($accent);
    }
  }
 
}
