<form [formGroup]="managForm">
    <div style="display:block;margin-left:4px;background:white">
        <div [hidden]="!displayError&&!maskError" class="alert alert-danger">Invalid!</div>
        <div class="bc-management-title bc-h6">Proprietà:</div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Ente</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propName">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propTaxCode">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Telefono</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propFixedPhone">
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Mail</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propEmail">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">PEC</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propPec">
                <br>
            </div>
        </div>
        <bc-divider></bc-divider>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Canone Affitto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="rent">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo Canone</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="period">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Valuta</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="valuta">
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Data di Inizio Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_start_date">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Data di Fine Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_end_date">
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Durata Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_duration">
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Canone Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_fee">
                <br>
            </div>            
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo di Affitto</div>
                <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="rentType">
                    <option [selected]="managForm.controls['rentType'].value==undefined" value="null">-- Tipo Affitto --</option>
                    <option *ngFor="let name of getEnumCustodyNames()" [selected]="checkEnum(name)" [value]="name">{{name}}</option>
                </select>
            </div>
        </div>
        <bc-divider></bc-divider>
        <div class="bc-management-title bc-h6">Custodia</div>
        <div *ngFor="let open of managForm.controls['subjects'].controls;let i = index" formArrayName="subjects">
            <div [formGroupName]="i">
                <div style="display: flex;flex-direction:row;align-items:center">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Nome</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="name">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Cognome</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="surname">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Tipo</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="type">
                    </div>
                    <bc-icon (click)="removeSubject(i)" class="bc-add-tag" name="times" size=s></bc-icon>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Telefono Fisso</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="fixedPhone">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Cellulare</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="mobilePhone">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="taxCode">
                    </div>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Mail</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="email">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">PEC</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="pec">
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">WebSite</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="webSite">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <bc-divider></bc-divider>
    </div>
 </form>
<div (click)="toggleSubject()" class="bc-body bc-add-tag" style="white-space:nowrap;flex:1">
    <bc-icon name="plus" size=s></bc-icon>
    Aggiungi Custode
</div>
<div *ngIf="!isHiddenSubject()">
    <form [formGroup]="newSubjectForm">
        <div style="display: flex;flex-direction:row;align-items:center">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Nome</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newName">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Cognome</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newSurname">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newType">
            </div>
            <bc-icon (click)="addNewSubject()" class="bc-add-tag" name="check" size=s></bc-icon>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Telefono Fisso</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newFixedPhone">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Cellulare</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newMobilePhone">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newTaxCode">
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Mail</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newMail">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">PEC</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newPec">
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">WebSite</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newWebSite">
            </div>
        </div>
    </form>
</div>