@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-management-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-add-tag:hover{
  color:map-get($bc-teal,400);
  cursor: pointer;
}

.bc-add-tag{
  font-weight: bold;
  margin-left:1%;
}

input, select{
    font-family: inherit !important;
}

.bc-revision-management{
  width:20%;
  margin-right:1%
}

.ng-invalid:not(form):not(div)  {
  border-left: 5px solid #a94442; /* red */
}

.bc-management-check{
  position:relative;
  margin-left:2%;
  display: flex;
  flex-direction: row;
  margin-right:2%;
  align-items: center;
  white-space:nowrap;
}

.bc-management-check-content{
  width:20px;
  height:20px;
  margin-left:1%;
}
