<form [formGroup]="managForm">
    <div style="display:block;margin-left:4px;background:white">
        <div [hidden]="!displayError" class="alert alert-danger">Error Occurred!</div>
        <div class="bc-management-title bc-h6">Proprietà:</div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="propName" title="Ente" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="propTaxCode" title="P.IVA" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="propFixedPhone" title="Telefono" validator="telephoneValidator" [displayError]="displayError"></bc-text-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="propEmail" title="Mail" validator="mailValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="propPec" title="PEC" validator="mailValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="propWebSite" title="Sito web" validator="urlValidator" [displayError]="displayError"></bc-text-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <bc-checkbox-input formControlName="pickupKey" title="Ritiro Chiavi"></bc-checkbox-input>
            <bc-checkbox-input formControlName="self_management" title="Autogestione"></bc-checkbox-input>
        </div>
        <bc-divider></bc-divider>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="rent" title="Canone annuale" validator="numberValidator" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="valuta" title="Valuta" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-select-input enumName="Possession_Type" formControlName="period" title="Tipo possesso" [displayError]="displayError"></bc-select-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="contract_start_date" validator="validateDate" title="Data di Inizio Contratto" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="contract_end_date" validator="validateDate" title="Data di Fine Contratto" [displayError]="displayError"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="contract_duration" title="Durata Contratto" [displayError]="displayError"></bc-text-input>
            </div>
        </div>
        <bc-divider></bc-divider>
        <div class="bc-management-title bc-h6">Custodia</div>
        <div *ngFor="let open of managForm.controls['subjects'].controls;let i = index" formArrayName="subjects">
            <div [formGroupName]="i">
                <div style="display: flex;flex-direction:row;align-items:center">
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="name" title="Nome" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="surname" title="Cognome" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="type" title="Tipo" [displayError]="displayError"></bc-text-input>
                    </div>
                    <bc-icon (click)="removeSubject(i)" class="bc-add-tag" name="times" size=s></bc-icon>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="fixedPhone" title="Telefono" validator="telephoneValidator" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="mobilePhone" title="Cellulare" validator="numberValidator" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="taxCode" title="P.IVA" [displayError]="displayError"></bc-text-input>
                    </div>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="email" title="Mail" validator="mailValidator" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="pec" title="PEC" validator="mailValidator" [displayError]="displayError"></bc-text-input>
                    </div>
                    <div class="bc-revision-management">
                        <bc-text-input formControlName="webSite" title="Sito Web" validator="urlValidator" [displayError]="displayError"></bc-text-input>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <bc-divider></bc-divider>
    </div>
 </form>
<div (click)="toggleSubject()" class="bc-body bc-add-tag" style="white-space:nowrap;flex:1">
    <bc-icon name="plus" size=s></bc-icon>
    Aggiungi Custode
</div>
<div *ngIf="!isHiddenSubject()">
    <form [formGroup]="newSubjectForm">
        <div style="display: flex;flex-direction:row;align-items:center">
            <div class="bc-revision-management">
                <bc-text-input formControlName="newName" title="Nome" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newSurname" title="Cognome" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newType" title="Tipo" [displayError]="invalid"></bc-text-input>
            </div>
            <bc-icon (click)="addNewSubject()" class="bc-add-tag" name="check" size=s></bc-icon>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="newFixedPhone" title="Telefono" validator="telephoneValidator" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newMobilePhone" title="Cellulare" validator="telephoneValidator" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newTaxCode" title="P.IVA" [displayError]="invalid"></bc-text-input>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <bc-text-input formControlName="newMail" title="Mail" validator="mailValidator" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newPec" title="PEC" validator="mailValidator" [displayError]="invalid"></bc-text-input>
            </div>
            <div class="bc-revision-management">
                <bc-text-input formControlName="newWebSite" title="Sito Web" validator="urlValidator" [displayError]="invalid"></bc-text-input>
            </div>
        </div>
    </form>
</div>