<form [formGroup]="managForm">
    <div style="display:block;margin-left:4px;background:white">
        <div class="bc-management-title bc-h6">Proprietà:</div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Ente</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propName">
                <div [hidden]="managForm.controls['propName'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propTaxCode">
                <div [hidden]="managForm.controls['propTaxCode'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Telefono</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propFixedPhone">
                <div [hidden]="managForm.controls['propFixedPhone'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Mail</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propEmail">
                <div [hidden]="managForm.controls['propEmail'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">PEC</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="propPec">
                <div [hidden]="managForm.controls['propPec'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
        </div>
        <bc-divider></bc-divider>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Canone Affitto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="rent">
                <div [hidden]="managForm.controls['rent'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo Canone</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="period">
                <div [hidden]="managForm.controls['period'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Valuta</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="valuta">
                <div [hidden]="managForm.controls['valuta'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Data di Inizio Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_start_date">
                <div [hidden]="managForm.controls['contract_start_date'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Data di Fine Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_end_date">
                <div [hidden]="managForm.controls['contract_end_date'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Durata Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_duration">
                <div [hidden]="managForm.controls['contract_duration'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Canone Contratto</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="contract_fee">
                <div [hidden]="managForm.controls['contract_fee'].valid" class="alert alert-danger">Invalid</div>
                <br>
            </div>            
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo di Affitto</div>
                <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="rentType">
                    <option [selected]="managForm.controls['rentType'].value==undefined" value="">-- Tipo Affitto --</option>
                    <option *ngFor="let name of getEnumCustodyNames()" [selected]="checkEnum(name)" [value]="name">{{name}}</option>
                </select>
            </div>
        </div>
        <bc-divider></bc-divider>
        <div class="bc-management-title bc-h6">Custodia</div>
        <div *ngFor="let open of managForm.controls['subjects'].controls;let i = index" formArrayName="subjects">
            <div [formGroupName]="i">
                <div style="display: flex;flex-direction:row;align-items:center">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Nome</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="name">
                        <div [hidden]="open.controls['name'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Cognome</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="surname">
                        <div [hidden]="open.controls['surname'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Tipo</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="type">
                        <div [hidden]="open.controls['type'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div (click)="removeSubject(i)" class="fa fa-times bc-add-tag" style="position:relative;margin-left:1%;font-size:16px"></div>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Telefono Fisso</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="fixedPhone">
                        <div [hidden]="open.controls['fixedPhone'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Cellulare</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="mobilePhone">
                        <div [hidden]="open.controls['mobilePhone'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="taxCode">
                        <div [hidden]="open.controls['taxCode'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                </div>
                <div style="display: flex;flex-direction:row">
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">Mail</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="email">
                        <div [hidden]="open.controls['email'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">PEC</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="pec">
                        <div [hidden]="open.controls['pec'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                    <div class="bc-revision-management">
                        <div class="bc-body" style="white-space: nowrap">WebSite</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control" formControlName="webSite">
                        <div [hidden]="open.controls['webSite'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <bc-divider></bc-divider>
        <div style="display: flex;flex-direction:row;align-items:center">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Nome</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newName">
                <div [hidden]="managForm.controls['newName'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Cognome</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newSurname">
                <div [hidden]="managForm.controls['newSurname'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Tipo</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newType">
                <div [hidden]="managForm.controls['newType'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div (click)="addNewSubject()" class="fa fa-plus bc-add-tag" style="position:relative;margin-left:1%;font-size:16px"></div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Telefono Fisso</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newFixedPhone">
                <div [hidden]="managForm.controls['newFixedPhone'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Cellulare</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newMobilePhone">
                <div [hidden]="managForm.controls['newMobilePhone'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">P.IVA</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newTaxCode">
                <div [hidden]="managForm.controls['newTaxCode'].valid" class="alert alert-danger">Invalid</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">Mail</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newMail">
                <div [hidden]="managForm.controls['newMail'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">PEC</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newPec">
                <div [hidden]="managForm.controls['newPec'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-revision-management">
                <div class="bc-body" style="white-space: nowrap">WebSite</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="newWebSite">
                <div [hidden]="managForm.controls['newWebSite'].valid" class="alert alert-danger">Invalid</div>
            </div>
        </div>
        
    </div>

 </form>