@import '../../style/typography';
@import '../../style/theme';
@mixin bc-management-revision($theme) {
  $accent: map-get($theme, accent);
  &-management {
    width: 30%;
    margin-right: 1%;
    &-title {
      margin-bottom: 4px;
      color: bc-color($accent);
    }
    &-add-tag {
      &:hover {
        color: bc-color($accent);
        cursor: pointer;
      }
      font-weight: bold;
      margin-left:1%;
    }
  }
}