@import '../../style/palette';
@import '../../style/typography';

@include bc-typography;

.bc-mask-icon{
    font-size:20px;
    padding-right: 10px;
}

/*
.bc-text-input{
  &[one-line]{
    display: flex;
    flex-direction: row;
  }
}
*/

.bc-mask-icon:hover{
    color: map-get($bc-teal,400);
    cursor: pointer;
}

input, select{
    font-family: inherit !important;
}

.bc-mask-container{
    height:100%;
    background-color: map-get($bc-light-theme-background,background);
    font-family: Roboto, Helvetica Neue, sans-serif;
    position:relative;
    white-space: nowrap;
    width: 100%;
    display: inline-block;

}

.bc-mask-line{
    display:flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    height:33%;
    width:100%;
}

.bc-mask-revision-control{
    width:auto;
    margin-right:2%;
}