<div class="bc-mask-container">
    <form [formGroup]="maskForm">
        <div class="bc-mask-line">
            <div class="bc-h6" style="display:flex;flex-direction:row;align-items:center;white-space:center;width:100%">
                <div (click)="return()" class="fa fa-arrow-left bc-mask-icon" style="display: inline;margin-left:10px"></div>
                <ng-content></ng-content>
                <div class="bc-mask-revision-control">
                    <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
                        <div class="bc-body" style="white-space: nowrap;margin-right:1%">Nome</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control"  formControlName="name">
                        <div [hidden]="maskForm.controls['name'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                </div>
                <div class="bc-mask-revision-control">
                    <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
                        <div class="bc-body" style="white-space: nowrap;margin-right:1%">Nome Comune</div>
                        <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                            class="form-control"  formControlName="alias">
                        <div [hidden]="maskForm.controls['alias'].valid" class="alert alert-danger">Invalid</div>
                    </div>
                </div>
                <div style="display: inline;margin-left:auto;margin-right:1%">
                    <div (click)="cancel()" class="fa fa-times bc-mask-icon" style="display: inline"></div> 
                    <div (click)="save()" class="fa fa-floppy-o bc-mask-icon" style="display: inline"></div>
                </div>
            </div>
        </div>
        <div class="bc-mask-line" style="margin-left:10px">
            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">ID</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="idCai">
                <div [hidden]="maskForm.controls['idCai'].valid" class="alert alert-danger">Invalid</div>
            </div>
            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">Tipo</div>
                <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="type">
                    <option [selected]="maskForm.controls['type'].value==undefined" value="">-- Tipo --</option>
                    <option *ngFor="let name of getEnumTypeNames()" [selected]="checkTypeEnum(name)" [value]="name">{{name}}</option>
                </select>
            </div>
            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">Sezione</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="branch">
                <div [hidden]="maskForm.controls['branch'].valid" class="alert alert-danger">Invalid</div>
            </div>

            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">Proprietà</div>
                <input type="text" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control"  formControlName="owner">
                <div [hidden]="maskForm.controls['owner'].valid" class="alert alert-danger">Invalid</div>
            </div>
        </div>
        <div class="bc-mask-line" style="margin-left:15px">
            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">Categoria</div>
                <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="category">
                    <option [selected]="maskForm.controls['category'].value==undefined" value="">-- Category --</option>
                    <option *ngFor="let name of getEnumCategoryNames()" [selected]="checkCategoryEnum(name)" [value]="name">{{name}}</option>
                </select>
            </div>
            <div class="bc-mask-revision-control">
                <div class="bc-body" style="white-space: nowrap">Per la regione</div>
                <select style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
                    class="form-control" formControlName="regional_type">
                    <option [selected]="maskForm.controls['regional_type'].value==undefined" value="">-- Tipo Regionale --</option>
                    <option *ngFor="let name of getEnumRegionalTypeNames()" [selected]="checkRegionalTypeEnum(name)" [value]="name">{{name}}</option>
                </select>
            </div>
            <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
                <div class="bc-mask-title  bc-body-strong">Inserito il:</div>
                <div class="bc-mask-content bc-body">{{shelter?(shelter.insertDate?(shelter.insertDate | date:"dd/MM/yy"):'----'): '----'}}</div>
            </div>
            <div style="flex:1;padding-left:4px;display:flex;flex-direction:row;align-items:center">
                <div class="bc-mask-title  bc-body-strong">Aggiornato il:</div>
                <div class="bc-mask-content bc-body">{{shelter?(shelter.updateDate?(shelter.updateDate | date:"dd/MM/yy"):'----'): '----'}}</div>
            </div>
        </div>
        <bc-divider></bc-divider>
    </form>
</div>