<main>
    <bc-navbar data-color="primary">
      <img src="../assets/images/logo_32x28.png" alt="logo" />
      <span class="bc-title">Infomont rifugi CAI</span>
      <span class="bc-navbar-filler"></span>
      <span class="button"><a href="#" class=""><i class="fa fa-sign-in" aria-hidden="true"></i> login</a></span>
    </bc-navbar>
    <div class="navbar-item" style="z-index: 10;position:absolute;height:55px;left:50px;padding-top:10px;display:inline-block">
      <bc-select-group class="navbar-item">
        <bc-button [button]="list_view_button"></bc-button>
        <bc-button [button]="map_view_button"></bc-button>
      </bc-select-group>
    </div>
  <router-outlet></router-outlet>
  <!-- Routed views go here -->
  <!--
  <bc-spinner></bc-spinner>
  <bc-toast></bc-toast>
  <bc-modal></bc-modal>-->
  <bc-navbar data-color="primary" data-fixed="bottom">
    <span>Copyright © 2017 Breadcrumb. All rights reserved.</span>
  </bc-navbar>
</main>