<bc-content>
  <bc-content-header>
    <bc-navbar data-color="primary">
      <img src="../assets/images/logo_32x28.png" alt="logo" />
      <span class="bc-h4">UnicoCAI rifugi</span>
      <span class="bc-navbar-filler"></span>
      <span class="button"><a href="/logout" class=""><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></span>
    </bc-navbar>
  </bc-content-header>
  <!-- Routed views go here -->
  <bc-content-section>
    <router-outlet></router-outlet>
  </bc-content-section>
  <bc-content-footer>
    <bc-navbar style="z-index:1" data-color="primary">
      <span class="bc-small">Copyright © 2017 all rights reserved.</span>
    </bc-navbar>
  </bc-content-footer>
  <!--<bc-spinner></bc-spinner>
  <bc-toast></bc-toast>
  <bc-modal></bc-modal>-->
</bc-content>
