<main>
  <bc-navbar data-color="primary">
    <img src="../assets/images/logo_32x28.png" alt="logo" />
    <span class="bc-title">Infomont rifugi CAI</span>
    <span class="bc-navbar-filler"></span>
    <span class="button"><a href="#" class=""><i class="fa fa-sign-in" aria-hidden="true"></i> login</a></span>
  </bc-navbar>
  
  <div style="width:200px;height:500px">
    <bc-map [enableExpansion]=true [windowSize]="{width:'300px',height:'256px'}"></bc-map>
  </div>
  <!-- Routed views go here -->
  <!--
  <router-outlet></router-outlet>
  <bc-spinner></bc-spinner>
  <bc-toast></bc-toast>
  <bc-modal></bc-modal>-->
  <bc-navbar data-color="primary" data-fixed="bottom">
    <span>Copyright © 2017 Breadcrumb. All rights reserved.</span>
  </bc-navbar>
</main>