@import '../../style/typography';

@mixin bc-service-item-detail ($theme){
    .bc-service-title{
        font-weight: 500;
    }
    
    .bc-content-service{
        position: relative;
        margin-left: 1%;
        display: flex;
        flex-direction:row;
    }
    
}

@include bc-typography();