@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-service-title{
    font-weight: 500;
}

.bc-content-service{
    position: relative;
    margin-left: 1%;
    display:flex;
    flex-direction: row;
}