@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-geographic-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-geographic-input{
    position:relative;
    width:30%;
    margin-left:1%;
}

.bc-add-tag:hover{
  color:map-get($bc-teal,400);
  cursor: pointer;
}

.bc-add-tag{
  font-weight: bold;
  margin-left:1%;
}