@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(div)  {
  border-left: 5px solid #a94442; /* red */
}

.bc-geographic-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-add-tag:hover{
  color:map-get($bc-teal,400);
}