<form style="position:relative" [formGroup]="geoForm">
    <div [hidden]="!displayError" class="alert alert-danger">Invalid!</div>
    <div class="bc-h6 bc-geographic-title">Dati geografici</div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">
            <bc-text-input formControlName="locality" title="Località" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-geographic-input">
            <bc-text-input formControlName="authorityJurisdiction" title="Ente sovracomunale di competenza" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">
            <bc-text-input formControlName="municipality" title="Comune" [displayError]="displayError"></bc-text-input>
        </div>
        <div class="bc-geographic-input">
            <bc-text-input formControlName="massif" title="Gruppo montuoso" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">
            <bc-text-input formControlName="province" title="Provincia" [displayError]="displayError"></bc-text-input>
        </div>
        
        <div class="bc-geographic-input">
            <bc-text-input formControlName="valley" title="Valle" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">
            <bc-text-input formControlName="region" title="Regione" [displayError]="displayError"></bc-text-input>
        </div>   
        <div class="bc-geographic-input">
            <bc-text-input formControlName="altitude" title="Quota (m slm)" validator="numberValidator" [displayError]="displayError"></bc-text-input>
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">     
            <bc-text-input formControlName="ownerRegion" title="GR gruppo regionale" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-geographic-input">
            <div class="bc-body" style="white-space: nowrap">UTM WGS84</div>
            <div style="display:flex;flex-direction:row">
                <div>
                    <bc-text-input formControlName="latitude" validator="numberValidator" [displayError]="displayError"></bc-text-input>
                </div>
                <div>
                    <bc-text-input formControlName="longitude" validator="numberValidator" [displayError]="displayError"></bc-text-input>
                </div>
            </div>
        </div>  
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">     
            <bc-text-input formControlName="regional_commission" title="Commissione regionale" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-geographic-input">     
            <bc-text-input formControlName="ski_area" title="Comprensorio sciistico" [displayError]="displayError"></bc-text-input>   
        </div>
    </div>
    <div style="display:flex;flex-direction:row">
        <div class="bc-geographic-input">     
            <bc-text-input formControlName="protected_area" title="Zona tutelata" [displayError]="displayError"></bc-text-input>   
        </div>
        <div class="bc-geographic-input">     
            <bc-text-input formControlName="site" title="Sito" [displayError]="displayError"></bc-text-input>   
        </div>
    </div>
</form>