<div class="bc-h6 bc-doc-title">File</div>
<div *ngFor="let file of data" >
    <div style="display: flex;flex-direction:row;align-items:center;white-space:nowrap">
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Nome:</div>
            <div style="margin-left:1%" class="bc-body bc-file" (click)="downloadFile(file._id)"> {{file.name}}</div>
        </div>
        <div style="flex:1;display: flex;flex-direction:row;align-items:center;white-space:nowrap">
            <div class="bc-body-strong">Dimensione:</div>
            <div style="margin-left:1%" class="bc-body"> {{file.size | formatsize}}</div>
        </div>
    </div>
</div>