@import '../../style/typography';
@import '../../style/theme';

@mixin bc-document-detail ($theme){
    $accent: map-get($theme, accent);

    .bc-file{
      &:hover{
        color:bc-color($accent);
        cursor: pointer;
      }
    }
    
    .bc-doc-title{
      color:bc-color($accent);
    }
}

@include bc-typography();