@import '../../style/typography';
@import '../../style/theme';

@mixin bc-document-detail($theme){
  $accent: map-get($theme, accent);
  
  &-doc{
    &-file {
      &:hover {
        color:bc-color($accent);
        cursor: pointer;
      }
    }
    
    &-title{
      color:bc-color($accent);
    }
  }
  
}