// Typography
$bc-font-size-base: 14px !default;
$bc-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// Media queries
$bc-xsmall: 'max-width: 600px';
$bc-gt-xsmall: 'min-width: 600px';
$bc-landscape: 'max-height: 420px';