@import 'constants';
// Converts a typographic scale into CSS styles.
@mixin bc-typography-scale-to-styles($config, $level) {
  $font-size: map-get(map-get($config, $level), font-size);
  $font-weight: map-get(map-get($config, $level), font-weight);
  $line-height: map-get(map-get($config, $level), line-height);
  $font-family: map-get($config, font-family);

  font: $font-weight #{$font-size}/#{$line-height} $font-family;
}

// Represents a typography style.
@function bc-typography-style($font-size, $line-height: $font-size, $font-weight: 400) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight
  );
}

// Represents a collection of typographic scale.
@function bc-typographic-scale(
  $font-family: $bc-font-family,
  $display-4:   bc-typography-style(112px, 112px, 300),
  $display-3:   bc-typography-style(56px, 56px, 400),
  $display-2:   bc-typography-style(45px, 48px, 400),
  $display-1:   bc-typography-style(34px, 40px, 400),
  $headline:    bc-typography-style(24px, 32px, 400),
  $title:       bc-typography-style(20px, 20px, 500),
  $subheading:  bc-typography-style(16px, 28px, 400),
  $body-2:      bc-typography-style(14px, 24px, 500),
  $body-1:      bc-typography-style(14px, 20px, 400),
  $caption:     bc-typography-style(12px, 12px, 400),
  $button:      bc-typography-style(14px, 14px, 500)
) {
  @return (
    font-family: $font-family,
    display-4:   $display-4,
    display-3:   $display-3,
    display-2:   $display-2,
    display-1:   $display-1,
    headline:    $headline,
    title:       $title,
    subheading:  $subheading,
    body-2:      $body-2,
    body-1:      $body-1,
    caption:     $caption,
    button:      $button
  );
}

// Adds the base typography styles.
@mixin bc-typography($typographic-scale: bc-typographic-scale(), $selector: '.bc-typography') {
  .bc-h0, .bc-jumbo {
    @include bc-typography-scale-to-styles($typographic-scale, display-4);
  }

  .bc-h1, #{$selector} h1 {
    @include bc-typography-scale-to-styles($typographic-scale, display-3);
  }

  .bc-h2, #{$selector} h2 {
    @include bc-typography-scale-to-styles($typographic-scale, display-2);
  }

  .bc-h3, #{$selector} h3 {
    @include bc-typography-scale-to-styles($typographic-scale, display-1);
  }

  .bc-h4, #{$selector} h4 {
    @include bc-typography-scale-to-styles($typographic-scale, headline);
  }

  .bc-h5, #{$selector} h5 {
    @include bc-typography-scale-to-styles($typographic-scale, title);
  }

  .bc-h6, #{$selector} h6 {
    @include bc-typography-scale-to-styles($typographic-scale, subheading);
  }

  .bc-body-strong {
    @include bc-typography-scale-to-styles($typographic-scale, body-2);
  }

  .bc-body, #{$selector} {
    @include bc-typography-scale-to-styles($typographic-scale, body-1);
  }

  .bc-small {
    @include bc-typography-scale-to-styles($typographic-scale, caption);
  }
}