<bc-content>
  <bc-content-header>
    <bc-navbar>
      <ul class="nav navbar-nav">
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i> List View</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-map" aria-hidden="true"></i>  Map View</a>
        </li>
      </ul>
      <span class="bc-navbar-filler"></span>
      <div>
        <input type="text" name="filterList" class="form-control" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
          placeholder="&#xF002; Search for shelter, municipality" [(ngModel)]="filterText" (keyup)="filterChanged(filterText)"
        />
      </div>
    </bc-navbar>
  </bc-content-header>
  <bc-content-section>
    <!--<div class="list-group">
  <a class="list-group-item" href="#">-->
    <!--<img src="http://orig10.deviantart.net/36a3/f/2011/213/4/b/scrooge_mc_duck_by_solvernia-d42dp2y.png" bc-avatar />-->
    <!--&nbsp; Home</a>-->
    <!--<a class="list-group-item" href="#">
    <bc-icon data-name="book" data-size="xs"></bc-icon>
    <bc-icon data-name="book" data-size="s"></bc-icon>
    <bc-icon data-name="book"></bc-icon>
    <bc-icon data-name="book" data-size="l" data-item-end></bc-icon>
    <bc-icon data-name="book" data-size="xl"></bc-icon>&nbsp; Library</a>
  <a class="list-group-item" href="#"><bc-icon data-name="pencil" data-size="s"></bc-icon>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><bc-icon data-name="cog"></bc-icon>&nbsp; Settings</a>
</div>-->
    <bc-list>
      <bc-list-header>lista rifugi lunghissimisisiisismsmisianaaaa</bc-list-header>
      <a bc-list-item *ngFor="let item of rifugiSample">
        <img bc-avatar item-start src="http://orig10.deviantart.net/36a3/f/2011/213/4/b/scrooge_mc_duck_by_solvernia-d42dp2y.png"/>
        <bc-icon data-name="book" data-size="s" item-start></bc-icon>
        <bc-icon data-name="pencil" data-size="s" item-start></bc-icon>
        <div style="flex:1; padding:8px; font-weight: 500;" bc-line class="bc-line">{{item.name}}</div>
        <div style="flex:1; padding:8px;" bc-line class="bc-line">{{item.type}}</div>
        <div style="flex:1; padding:8px;">{{item.branch}}</div>
        <div style="flex:1; padding:8px;">{{item.owner}}</div>
        <bc-icon data-name="book" data-size="l" item-end></bc-icon>
      </a>
    </bc-list>
  </bc-content-section>
</bc-content>