<bc-content>
  <bc-content-header>
    <bc-navbar>
      <ul class="nav navbar-nav">
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i> List View</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-map" aria-hidden="true"></i>  Map View</a>
        </li>
      </ul>
      <span class="bc-navbar-filler"></span>
      <div>
        <input type="text" name="filterList" class="form-control" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
          placeholder="&#xF002; Search for shelter, municipality" [(ngModel)]="filterText" (keyup)="filterChanged(filterText)"
        />
      </div>
    </bc-navbar>
    </bc-content-header>
    <bc-content-section>
      <bc-list>
        <a bc-list-item *ngFor="let item of rifugiSample">
          <div bc-line>{{item.name}}</div>
          <div bc-line style="display:flex; flex-direction:row;">
            <div style="flex:1">{{item.type}}</div>
            <div style="flex:1">{{item.owner}}</div>
          </div>
        </a>
      </bc-list>
    </bc-content-section>
</bc-content>