<bc-content>
  <bc-content-header>
    <bc-navbar>
      <ul class="nav navbar-nav">
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i> List View</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="btn btn-default"><i class="fa fa-map" aria-hidden="true"></i>  Map View</a>
        </li>
      </ul>
      <span class="bc-navbar-filler"></span>
      <div>
        <input type="text" name="filterList" class="form-control" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
          placeholder="&#xF002; Search for shelter, municipality" [(ngModel)]="filterText" (keyup)="filterChanged(filterText)"
        />
      </div>
    </bc-navbar>
  </bc-content-header>
  <bc-content-section>
    <bc-list dense>
      <a bc-list-item *ngFor="let item of filteredShelter">
        <div style="flex:1; padding:8px; font-weight: 500;">{{item.name}}</div>
        <div style="flex:1; padding:8px;">{{item.municipality}}</div>
        <div style="flex:1; padding:8px;">{{item.province}}</div>
        <div style="flex:1; padding:8px;">{{item.region}}</div>
      </a>
    </bc-list>
  </bc-content-section>
</bc-content>