<div class="bc-mask-container">
    <div class="bc-mask-line">
        <div class="bc-mask-top">
            <div class="fa fa-arrow-left" style="display: inline;margin-left:10px"></div><div style="display: inline;margin-left:10px">{{shelter.name}}</div>,<div style="display: inline;margin-left:5px">{{shelter.collective}}</div>
        </div>
    </div>
    <div class="bc-mask-line">
        <div style="flex:1;padding:4px;display:flex;flex-direction:row">
            <div class="bc-mask-title">ID:</div>
            <div class="bc-mask-content">{{shelter.id}}</div>
        </div>
        <div style="flex:1;padding:4px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Tipo:</div>
            <div class="bc-mask-content">{{shelter.type}}</div>
        </div>
        <div style="flex:1;padding:4px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Sezione:</div>
            <div class="bc-mask-content">{{shelter.section}}</div>
        </div>
        <div style="flex:1;padding:4px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Proprietà:</div>
            <div class="bc-mask-content">{{shelter.property}}</div>
        </div>
    </div>
    <div class="bc-mask-line">
        <div style="flex:1;padding:32px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Categoria:</div>
            <div class="bc-mask-content">{{shelter.category}}</div>
        </div>
        <div style="flex:1;padding:32px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Per la regione:</div>
            <div class="bc-mask-content">{{shelter.to_region}}</div>
        </div>
        <div style="flex:1;padding:32px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Inserito il:</div>
            <div class="bc-mask-content">{{shelter.insert_date}}</div>
        </div>
        <div style="flex:1;padding:32px;display:flex;flex-direction:row">
            <div class="bc-mask-title">Aggiornato il:</div>
            <div class="bc-mask-content">{{shelter.update_date}}</div>
        </div>
    </div>
</div>