@import '../../style/constants';
@import '../../style/theme';

$bc-list-side-padding: 16px;
$secondary-font-size:14px;
@mixin bc-list-item-disable($accent, $background, $foreground){
    &.disabled {
        color: bc-color($foreground, 'text');
        background: bc-color($background, 'disabled-button');
        border-color: bc-color($background, 'disabled-button');
    }
}

@mixin bc-list-item-active($accent, $background, $foreground){
    &.active {
        color: bc-color($accent, '500-contrast');
        background: bc-color($accent);
        border-color: bc-color($accent);

        @include bc-list-item-disable($accent, $background, $foreground);
    }
}

@mixin bc-list-item-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    .bc-list-item {
        color: bc-color($foreground, 'text');

        &.list-group-item {
            color: bc-color($foreground, 'text');
            border-color: bc-color($foreground, divider);

            @include bc-list-item-disable($accent, $background, $foreground);
            @include bc-list-item-active($accent, $background, $foreground);

            &:hover, &:focus {
                @include bc-list-item-disable($accent, $background, $foreground);
                @include bc-list-item-active($accent, $background, $foreground);
                color: bc-color($foreground, 'text');
                background: bc-color($background, 'hover');
                border-color: bc-color($background, 'hover');
            }
        }
    }
}

@mixin bc-list-item-base($font-size, $base-height, $icon-size, $avatar-height) {

    & a.bc-list-item, & button.bc-list-item {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .bc-list-item {
        display: block;

        &.list-group-item {
            padding: 0px;
            &.active, &:hover, &:focus {
                outline: none;
            }
        }

        .bc-list-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: $bc-font-family;
            font-size: $font-size;
            height: $base-height;
            padding: 0 $bc-list-side-padding;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
        }


        .bc-list-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 $bc-list-side-padding;

            &:empty {
                display: none;
            }

            &:first-child {
                padding: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            & > * {
                margin: 0;
                padding: 0;
                font-weight: normal;
                font-size: inherit;
            }
        }

        .bc-icon {
                height: $bc-icon-size;
                width: $bc-icon-size;
                font-size: $bc-icon-size;
        }

        .bc-list-item-avatar .bc-list-item-content {
            height:  $avatar-height;
        }
        
        @include bc-line-base($secondary-font-size);
        //   &.bc-2-line .bc-list-item-content {
        //     height: $two-line-height;
        //   }


        //   &.bc-3-line .bc-list-item-content {
        //     height: $three-line-height;
        //   }

        //   // list items with more than 3 lines should expand to match
        //   // the height of its contained text
        //   &.bc-multi-line .bc-list-item-content {
        //     height: 100%;
        //     padding: 8px $mat-list-side-padding;
        //   }
    }
}

@mixin bc-list-item-custom-border($border-size: 1px) {
    .bc-list-item {
        &.list-group-item {
            border-width: $border-size;
        }
    }
}

@mixin truncate-line() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Mixin to provide all mat-line styles, changing secondary font size based on whether the list
// is in dense mode.
@mixin bc-line-base($secondary-font-size) {
  .bc-line {
    @include truncate-line();
    display: block;
    box-sizing: border-box;

    // all lines but the top line should have smaller text
    &:nth-child(n+2) {
      font-size: $secondary-font-size;
    }
  }
}
