<div style="display:block;margin-left:4px;background:white">
    <div class="bc-detail-title bc-h6">Proprietà</div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Ente:</div>
            <div class="bc-body">{{owner?(owner.name || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">P.IVA:</div>
            <div class="bc-body">{{owner?(owner.taxCode || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Telefono:</div>
            <div class="bc-body">{{owner?(owner.fixedPhone||'----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Riferimento:</div>
            <div class="bc-body">{{data?(data.reference || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Mail:</div>
            <div class="bc-body">{{owner?(owner.email || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">PEC:</div>
            <div class="bc-body">{{owner?(owner.pec || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Sito web:</div>
            <div *ngIf="owner!=undefined&&owner.webSite!=undefined" (click)="gotoSite(owner.webSite)" class="bc-body bc-link">{{owner.webSite}}</div>
            <div class="bc-body" *ngIf="owner==undefined||owner.webSite==undefined">----</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Canone annuale (€, anche stimato):</div>
            <div class="bc-body">{{owner?(owner.contract_fee || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Data di inizio contratto:</div>
            <div class="bc-body">{{owner?((owner.contract_start_date | date:"dd/MM/yy") || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Data di fine contratto:</div>
            <div class="bc-body">{{owner?((owner.contract_end_date | date:"dd/MM/yy") || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Durata contratto:</div>
            <div class="bc-body">{{owner?(getDifferenceDates(owner.contract_start_date,owner.contract_end_date) | processDate):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Tipo possesso:</div>
            <div class="bc-body">{{owner?(owner.possession_type || '----'):'----'}}</div>
        </div>
    </div>
    <bc-divider></bc-divider>
    <div class="bc-detail-title bc-h6">Custodia e/o gestione</div>
    <div *ngFor="let manager of managers;let i=index">
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Nome e Cognome:</div>
                <div class="bc-body">{{manager?(manager.name || '----'):'----'}} {{manager?(manager.surname):''}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Telefono:</div>
                <div class="bc-body">{{manager?(manager.fixedPhone||'----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Cellulare:</div>
                <div class="bc-body">{{manager?(manager.mobilePhone||'----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Mail:</div>
                <div class="bc-body">{{manager?(manager.email || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">PEC:</div>
                <div class="bc-body">{{manager?(manager.pec || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Sito web:</div>
                <div *ngIf="manager!=null&&manager.webSite!=undefined" (click)="gotoSite(manager.webSite)" class="bc-body bc-link">{{manager.webSite}}</div>
                <div class="bc-body" *ngIf="manager==null||manager.webSite==undefined">----</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Tipo:</div>
                <div class="bc-body">{{manager?(manager.type || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">P.IVA:</div>
                <div class="bc-body">{{manager?(manager.taxCode || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Canone annuale (€, anche stimato):</div>
                <div class="bc-body">{{manager?(manager.contract_fee || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Tipo possesso:</div>
                <div class="bc-body">{{manager?(manager.possession_type || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Data di inizio contratto:</div>
                <div class="bc-body">{{manager?((manager.contract_start_date | date:"dd/MM/yy") || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Data di fine contratto:</div>
                <div class="bc-body">{{manager?((manager.contract_end_date | date:"dd/MM/yy") || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Durata contratto:</div>
                <div class="bc-body">{{manager?(getDifferenceDates(manager.contract_start_date,manager.contract_end_date) | processDate):'----'}}</div>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <bc-icon *ngIf="data&&data.pickupKey!=null&&data.pickupKey==true" name="check-square-o" size=s></bc-icon>
            <bc-icon *ngIf="!data||data.pickupKey==null||data.pickupKey==false" name="square-o" size=s></bc-icon>
            <div class="bc-body-strong" style="margin-right:4px">Ritiro chiavi</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row">
            <bc-icon *ngIf="data&&data.self_management!=null&&data.self_management==true" name="check-square-o" size=s></bc-icon>
            <bc-icon *ngIf="!data||data.self_management==null||data.self_management==false" name="square-o" size=s></bc-icon>
            <div class="bc-body-strong" style="margin-right:4px">Autogestione</div>
        </div>  
    </div>
</div>