@import '../../style/typography';
@import '../../style/theme';

@mixin bc-management-detail ($theme){
    $accent: map-get($theme, accent);

    .bc-detail-title{
        margin-bottom: 4px;
        color:bc-color($accent);
    }
    
    .bc-link{
        &:hover{
            cursor: pointer;
        }
    }
    
}

@include bc-typography();