@import '../../style/typography';
@import '../../style/palette';

@include bc-typography();

.bc-detail-title{
    margin-bottom: 4px;
    color:map-get($bc-teal,400 );
}

.bc-link:hover{
    color:map-get($bc-teal,400 );
}