<div style="display:block;margin-left:4px;background:white">
    <div class="bc-detail-title bc-h6">Proprietà:</div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Ente:</div>
            <div class="bc-body">{{owner?(owner.name || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">P.IVA:</div>
            <div class="bc-body">{{owner?(owner.taxCode || '----'):'----'}}</div>
        </div>
        <bc-divider></bc-divider>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Telefono Fisso:</div>
            <div class="bc-body">{{owner?(owner.fixedPhone || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Mail:</div>
            <div class="bc-body">{{owner?(owner.email || '----'):'----'}}</div>
        </div>
    </div>
    <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
        <div class="bc-body-strong" style="margin-right:4px">PEC:</div>
        <div class="bc-body">{{owner?(owner.pec || '----'):'----'}}</div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Canone Affitto:</div>
            <div class="bc-body">{{data?(data.rent || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Tipo Canone:</div>
            <div class="bc-body">{{data?(data.period || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Data di Inizio Contratto:</div>
            <div class="bc-body">{{data?((data.contract_start_date | date:"dd/MM/yy") || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Data di Fine Contratto:</div>
            <div class="bc-body">{{data?((data.contract_end_date | date:"dd/MM/yy") || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Durata Contratto:</div>
            <div class="bc-body">{{data?(data.contract_duration || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Canone Contratto:</div>
            <div class="bc-body">{{data?(data.contract_fee || '----'):'----'}}</div>
        </div>
    </div>
    <div style="display: flex;flex-direction:row">
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Valuta:</div>
            <div class="bc-body">{{data?(data.valuta || '----'):'----'}}</div>
        </div>
        <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
            <div class="bc-body-strong" style="margin-right:4px">Tipo di Affitto:</div>
            <div class="bc-body">{{data?(data.rentType || '----'):'----'}}</div>
        </div>
    </div>
    <div class="bc-body">
        <bc-icon *ngIf="data!=undefined&&data.pickupKey==true" name="check-square-o" size=s></bc-icon>
        <bc-icon *ngIf="data==undefined||data.pickupKey==false" name="square-o" size=s></bc-icon>
        Ritiro Chiavi
    </div>
    <bc-divider></bc-divider>
    <div class="bc-detail-title bc-h6">Custodia:</div>
    <div *ngFor="let manager of managers">
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Nome e Cognome:</div>
                <div class="bc-body">{{manager?(manager.name || '----'):'----'}} {{manager?(manager.surname):''}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Telefono Fisso:</div>
                <div class="bc-body">{{manager?(manager.fixedPhone || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Cellulare:</div>
                <div class="bc-body">{{manager?(manager.mobilePhone || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Mail:</div>
                <div class="bc-body">{{manager?(manager.email || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">PEC:</div>
                <div class="bc-body">{{manager?(manager.pec || '----'):'----'}}</div>
            </div>
            <div *ngIf="manager!=undefined&&manager.webSite!=undefined" style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Sito Web:</div>
                <div (click)="gotoSite(manager.webSite)" class="bc-body bc-link">{{manager?(manager.webSite || '----'):'----'}}</div>
            </div>
        </div>
        <div style="display: flex;flex-direction:row">
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">Tipo:</div>
                <div class="bc-body">{{manager?(manager.type || '----'):'----'}}</div>
            </div>
            <div style="align-items:center;flex:1;display:flex;flex-direction:row;white-space:nowrap">
                <div class="bc-body-strong" style="margin-right:4px">P.IVA:</div>
                <div class="bc-body">{{manager?(manager.taxCode || '----'):'----'}}</div>
            </div>
        </div>
        <bc-divider></bc-divider>
    </div>
</div>