<bc-navbar>
  <ul class="nav">
    <li class="navbar-item">
      <bc-button [button]="list_view_button"></bc-button>
      <bc-button [button]="map_view_button"></bc-button>
    </li>
  </ul>
  <span class="bc-navbar-filler"></span>
  <div>
    <input type="text" name="filterList" class="form-control" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
      placeholder="&#xF002; Search for shelter, municipality" [(ngModel)]="filterText" (keyup)="filterChanged(filterText)"/>
  </div>
</bc-navbar>
<bc-list>
  <bc-list-item *ngFor="let item of filteredShelter">
    <div style="display: flex; flex-flow: row nowrap;  align-items: flex-start; flex:1;">
      <div style="flex:1; padding:8px; font-weight: 500;">{{item.name}}</div><div style="flex:1; padding:8px;">{{item.municipality}}</div><div style="flex:1; padding:8px;">{{item.province}}</div><div style="flex:1; padding:8px;">{{item.region}}</div>
    </div>
  </bc-list-item>
</bc-list>
