<bc-navbar>
  <ul class="nav navbar-nav">
    <li class="navbar-item">
      <a href="#"  class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i> List View</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="btn btn-default"><i class="fa fa-map" aria-hidden="true"></i>  Map View</a>
    </li>
  </ul>
  <span class="bc-navbar-filler"></span>
  <div>
  <input type="text" class="form-control" style="text-overflow: ellipsis; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"
    placeholder="&#xF002; Search for shelter, municipality" />
  </div>
</bc-navbar>
<div style="overflow-y: scroll; overflow-x: hidden; height:600px">
  <h1 *ngFor="let item of [1,2,3,4,5,6,7,8,9,0,11,12,13,14,15]">
    Rifugio Battisti
  </h1>
</div>