<bc-content>
  <bc-content-header>
    <div bc-navbar style="height: 150px">
        <bc-mask></bc-mask>
    </div>
  </bc-content-header>
  <bc-content-section>
    <div style="display:flex;flex-direction:row;position:relative">
      <div style="position: relative">
        <bc-menu [menuElements]="appMenuElements"></bc-menu>
      </div>
      <div style="position:relative;width:100%">
          <bc-details></bc-details>
          <bc-revisions></bc-revisions>
      </div>
    </div>
  </bc-content-section>
</bc-content>