@import '../style/palette';

.bc-list-button{
    background-color: map_get($bc-grey-cai, 0);
    border-color: map_get($bc-grey-cai, 0);    
    color:map_get(map_get($bc-grey-cai,contrast),A400);
}

.bc-list-button:hover{
    background: map_get($bc-teal,400);
}