<bc-content>
    <bc-content-section>
        <div bc-navbar style="z-index: 10;position:absolute;height:55px;left:5%;padding-top:5px;display:inline-block;z-index:410">
            <bc-select-group>
            <bc-button [button]="list_view_button"></bc-button>
            <bc-button [pre_selected]=true [button]="map_view_button"></bc-button>
            </bc-select-group>
        </div>
        <div style="position:relative;height:100vh;width:100%">
            <bc-map></bc-map>
        </div>
    </bc-content-section>
</bc-content>