<bc-content>
  <bc-content-section>
      <div style="position: absolute;z-index:1;left:5%">
        <bc-navbar style="background:0">
          <ul class="nav navbar-nav">
            <li class="navbar-item">
              <a href="/list" class="btn btn-default"><i class="fa fa-th-list" aria-hidden="true"></i> Lista</a>
            </li>
            <li class="navbar-item">
              <a href="/map" class="btn btn-default"><i class="fa fa-map" aria-hidden="true"></i>  Mappa</a>
            </li>
          </ul>
        </bc-navbar>
      </div>
    <div style="position:fixed;width:100%;height:calc(100vh - 128px)">
      <bc-map></bc-map>
    </div>
  </bc-content-section>
</bc-content>