@import '../../style/typography';
@import '../../style/theme';

@mixin bc-contributions-detail ($theme){
    $accent: map-get($theme, accent);
    
    .bc-tab-contributions{
        &:hover{
            color:bc-color($accent);
            border:1px solid;
            border-color: $black-12alpha;
            border-radius:4px;
        }
    }
    
    .bc-tab-active{
        color:bc-color($accent);
        border:1px solid;
        border-radius:4px;
        border-color: $black-12alpha;
    }
    
    .bc-title-contributions{
        color:bc-color($accent);
    }
    
    .bc-icon-contribution{
        &:hover{
            color:bc-color($accent);
            cursor: pointer;
        }
    }
}

@include bc-typography();