@import '../../style/typography';
@import '../../style/theme';

@mixin bc-contributions-detail ($theme){
    $accent: map-get($theme, accent);
   
    .bc-title-contributions{
        color:bc-color($accent);
    }

    .bc-icon-contribution{
        &:hover{
            color:bc-color($accent);
            cursor: pointer;
        }
    }
}

@include bc-typography();