@import '../../style/typography';
@import '../../style/theme';
@mixin bc-contributions-revision($theme) {
    $accent: map-get($theme, accent);
    &-contributions {
        &-title {
            color: bc-color($accent);
        }
        &-icon {
            &:hover {
                color: bc-color($accent);
                cursor: pointer;
            }
        }
    }
}